// Color Variables
$primary-color: #2f5d50;
$secondary-color: #2b2b2b;
$accent-color: #d9b36c;
$text-color: #2b2b2b;
$text-color-light: #5f5a51;
$text-color-dark: #2b2b2b;
$body-color: #f7f2e8;
$border-color: #d9b36c;
$black: #2b2b2b;
$white: #ffffff;
$light: #f7f2e8;
$gray: #efe7d9;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';
