{{- $group := .Params.member_group | default "" -}}
{{- if eq $group "修士学生" -}}
  {{- $group = "master" -}}
{{- else if eq $group "博士学生" -}}
  {{- $group = "phd" -}}
{{- end -}}
{{- if and .Params.enrolled_year (or (eq $group "master") (eq $group "phd")) -}}
  {{- $now := now -}}
  {{- $year := int ($now.Format "2006") -}}
  {{- $month := int ($now.Format "01") -}}
  {{- $fiscalYear := $year -}}
  {{- if lt $month 4 -}}
    {{- $fiscalYear = sub $fiscalYear 1 -}}
  {{- end -}}
  {{- $diff := sub $fiscalYear (int .Params.enrolled_year) -}}
  {{- if ge $diff 0 -}}
    {{- if eq $group "master" -}}
      M{{ add $diff 1 }}
    {{- else if eq $group "phd" -}}
      D{{ add $diff 1 }}
    {{- end -}}
  {{- end -}}
{{- end -}}
